<div class="row">
  <div class="large-8 large-offset-2 columns">
    <div class="panel login callout radius">
      <h1>Welcome to Launch Pairs</h1>
      <!-- <h2><em>Connecting Coders</em></h2> -->
      <h4><em>Connecting Coders</em></h4>
      <% if signed_in? %>
      <p>
      You are currently signed in as <%= current_user['email'] %>!
      <a href="/sign_out">Sign Out</a>
      </p>
      <% else %>
      <a class="login-button button small button-index" href="/auth/github">Sign in with GitHub</a>
      <% end %>
    </div>
  </div>
</div>
