<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href='/users'><img class="logo"src="/img/ps_logo.png"></a>
      <!-- <h1><a href="/users">Launch Pairs</a></h1> -->
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <% if signed_in? %>
      <li class=""><a href="/users/available">Find Pair</a></li>
      <li class=""><a href="/users/help">Find Help</a></li>
      <li class=""><a href="/users">All Students</a></li>
      <li class=""><a href="/profile/<%= current_user['id'] %>">My Profile</a></li>
      <li class=""><a href="/sign_out">Log Out</a></li>
      <% else %>
      <li class=""><a href="/auth/github">Login</a></li>
      <% end %>
    </ul>
  </section>
</nav>
