<div class="row">
  <div class="large-12 columns">
    <h1> Update Your Personal Information </h1>
    <form action="/profile/<%=current_user["id"]%>/edit" method="post">
      <div class="row">
        <div class="large-12 columns">
          <label>Describe your breakable toy ideas here:
            <textarea name="breakable_toy" placeholder="Breakable Toy Info"></textarea>
          </label>
        </div>
      </div>

        <div class="row">
          <div class="large-4 columns">
            <label>Phone Number
              <input type="text" placeholder="Phone Number" name="phone_number"/>
            </label>
          </div>

          <div class="large-8 columns">
            <label>Blog URL http://
              <input type="text" placeholder="Blog" name="blog_url" />
            </label>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <label>Twitter: @
              <input type="text" placeholder= "Twitter" name="twitter"/>
            </label>
          </div>

          <div class="large-6 columns">
            <label>LinkedIn: www.linkedin.com/in/
              <input type="text" placeholder="LinkedIn" name="linkedin"/>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns">
            <input class="button" type="submit" value="Update"/>
          </div>
        </div>
    </form>
  </div>
</div>
