 /* experiment */
body {
	color: #222;
	font-size: 100%;
/* 	background: url(../img/space-bg.png) repeat-x fixed -80% 0;
 */	background:
		url(../img/stars-1.png) repeat-x fixed -130% 0,
		url(../img/stars-2.png) repeat-x fixed 40% 0,
		url(../img/space-bg.png) repeat-x fixed -80% 0;
	background-color: #1a1a1a;
}

#wrapper {
  width: 1000px;
  margin: 40px auto;
  padding: 10px;
  background: #fff url(../img/bg-light.jpg) no-repeat 0 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,.7);
  -moz-box-shadow: 0 0 40px rgba(0,0,0,.7);
  box-shadow: 0 0 40px rgba(0,0,0,.7);
}



.custom-footer {
  background: #313131;
  width: 100%;
  height: 80px;

}
.tiny-img {
    border-radius: 200px;
    border: 1px solid white;
    height: 50px;
    width: 50px;
}
.large-img {
    border-radius: 6px;
    border: 1px solid white;
    height: 300px;
    width: 100%;
}
.personal-info {
  margin-top: 10px;
  border-top: 5px solid #333333;
  border-bottom: 5px solid #333333;
  padding: 5px;
  width: 100%;
}

/* Login page css */

.login {
  margin-top: 10%;
  text-align: center;
}
.login-button {
  margin-top: 20px;
  width: 70%;
}


/* Button styling for view all page */

.button-container {
  text-align: center;
}
.button-index {
  width: 90%;
}

/* Styles for different Moods */
/* .happy-mood {
  border: 5px solid #0088B5;
} */

/***********/
/* Nav Bar */
/***********/

.top-bar {
  height: 52px;
  border-bottom: 6px solid #000;
  border-top: 2px solid #FF69B4;
}
.logo {
  margin-left: 40px;
  height: 40px;
  margin-top: 3px;
}

h1, h2, h3, h4, h5, h6, a, p, span, div, button {
  font-family: 'Ubuntu', sans-serif;
}
.button {
  font-family: 'Ubuntu', sans-serif;
}

.top-bar-section ul li:hover:not(.has-form) > a {
  color: #a1d8fd;
  border-bottom: 8px solid #a1d8fd;
}
