 /* experiment */
body {
	color: #222;
	font-size: 100%;
 	background:
		url(../img/stars-1.png) repeat-x fixed -130% 0,
		url(../img/stars-2.png) repeat-x fixed 40% 0,
		url(../img/space-bg.png) repeat-x fixed -80% 0;
	background-color: #1a1a1a;
}
h1, h2, h3, h4, h5, h6, a, p, span, div, button {
	font-family: 'Ubuntu', sans-serif;
}

#wrapper {
  width: 1000px;
  margin: 40px auto;
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,.7);
  -moz-box-shadow: 0 0 40px rgba(0,0,0,.7);
  box-shadow: 0 0 40px rgba(0,0,0,.7);
}

.tiny-img {
    border-radius: 200px;
    border: 1px solid white;
    height: 50px;
    width: 50px;
}
.large-img {
    border-radius: 6px;
    border: 1px solid white;
    height: 300px;
    width: 100%;
}


/**********************************/
/*        Login Page              */
/**********************************/

.login {
  margin-top: 10%;
  text-align: center;
}
.login-button {
  margin-top: 20px;
  width: 70%;
}

/**********************************/
/*        Button styling          */
/**********************************/
.button-container {
  text-align: center;
}
.button-index {
  width: 90%;
}

.button.alert {
	background-color: #c0392b;
	border-radius: 8px;
}

.button.alert:hover {
	background-color: #c0392b;
}

.button.success {
	background-color: #27ae60;
	border-radius: 8px;
}
.button.success:hover {
	background-color: #27ae60;
}

.button.secondary {
	background-color: #f1c40f;
	border-radius: 8px;
}

.button.secondary:hover {
	background-color: #f1c40f;
}

.button.project {
	background-color: #bdc3c7;
	color: #000;
	border-radius: 8px;
}
.button.project:hover {
	background-color: #bdc3c7;
	color: #000;
	border-radius: 8px;
}
.button {
	background-color: #2980b9;
	border-radius: 8px;
	margin-bottom: 0;
	font-family: 'Ubuntu', sans-serif;
}
.button:hover {
	background-color: #3498db;
}

.button.complete {
	background-color: #34495e;
	border-radius: 8px;
}

.button.paired {
	background-color: #8e44ad;
	border-radius: 8px;
	margin-top: auto auto;

}
.button.paired:hover {
	background-color: #34495e;
}


/**********************************/
/* Styles For Moods(coming soon0) */
/**********************************/

/* .happy-mood {
  border: 5px solid #0088B5;
} */

/***********/
/* Nav Bar */
/***********/

.top-bar {
  height: 52px;
  border-bottom: 6px solid #000;
  border-top: 2px solid #FF69B4;
}
.logo {
  margin-left: 40px;
  height: 40px;
  margin-top: 3px;
}
.top-bar-section ul li:hover:not(.has-form) > a {
  color: #a1d8fd;
  border-bottom: 8px solid #a1d8fd;
}
/**********************************/
/*        Profile Page            */
/**********************************/
#profile_status {
	margin-bottom: 0;
	margin: 0 auto;
	text-align: center;
}

#profile_project {
	margin-bottom: 0;
	margin: 0 auto;
}

form {
	margin-bottom: 0;
	padding-bottom: 0;
}

h3.button.large.even {
	margin: 20px 0;
	width: 100%;
}

.personal-info {
	border-top: 5px solid #333333;
	border-bottom: 5px solid #333333;
	padding: 5px;
	width: 100%;
}
