<h1>Welcome To Launch Pairs!</h1>
<p>A website designed to optomize the pairing experience and ensure pair programming with as many people as possible</p>

<button class="btn btn-info"><a class="home_buttons" href="/users">View all the Users</a></button>
